
.nav_bar {
  height: 3.3rem;
  background-color: #2196f3;
  font-size: 1rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn_open_menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav_bar {
    align-items: flex-start;
    min-height: 3.3rem;
    transition: min-height 0.3s ease-in-out;
    height: 3.3rem;
    justify-content: flex-end;
  }

  .nav_bar_open {
    min-height: 270px;
  }

  .nav_mobile {
    margin-left: auto;
    margin-right: auto;
  }

  .btn_open_menu {
    display: flex;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 8px;

    .icon_menu svg {
      fill: white;
      width: 2rem;
      height: 2rem;

    }
  }
}