.header {
    text-align: center;
    font-family: "Cinzel Decorative";
    margin: 0;
    font-size: 3.4rem;
    font-weight: bold;
}

.rainbow {
    background-image: linear-gradient(90deg,
            hsl(284, 91%, 69%) 0%,
            hsl(284, 91%, 69%) 12.5%,
            hsl(329, 91%, 69%) 12.5%,
            hsl(329, 91%, 69%) 25%,
            hsl(14, 91%, 69%) 25%,
            hsl(14, 91%, 69%) 37.5%,
            hsl(59, 91%, 69%) 37.5%,
            hsl(59, 91%, 69%) 50%,
            hsl(104, 91%, 69%) 50%,
            hsl(104, 91%, 69%) 62.5%,
            hsl(149, 91%, 69%) 62.5%,
            hsl(149, 91%, 69%) 75%,
            hsl(194, 91%, 69%) 75%,
            hsl(194, 91%, 69%) 87.5%,
            hsl(239, 91%, 69%) 87.5%,
            hsl(239, 91%, 69%) 100%);
    background-size: 100% 15%;
    background-repeat: repeat-x;
    background-position: left 0% bottom 10%;
}