.main {
  flex: 1;
  display: flex;
  justify-content: center;
}

.column {
  flex-direction: column;
  justify-content: unset;
  align-items: center;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}