.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    border: 10px;
    border-color: lightskyblue;
    border-style: double;
    margin: 10px;
}