.resume {
    position: relative;
    overflow: hidden;
    width: 70%;
    aspect-ratio: 1/1.2;
}

.resume iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.download {
    text-decoration: #2196f3 underline;
    color: #2196f3;
}

.download:hover {
    color: #0d5998;
    text-decoration: #0d5998 underline;
}

@media screen and (max-width: 1300px) {
    .resume {
        aspect-ratio: 1/1.4;
    }
}